{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>
{% if error %}
<h2 class="error">{{ error }}</h2>
{% endif %}
<form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Nom utilisateur</legend>
        <input type='text' name='username' id='username' required>
    </fieldset>
    <fieldset>
        <legend>Mot de passe</legend>
        <input type='password' name='password1' id='password1' required>
    </fieldset>
    <fieldset>
        <legend>Confirmer mot de passe</legend>
        <input type='password' name='password2' id='password2' required>
    </fieldset>
    <fieldset>
        <legend>Prénom</legend>
        <input type='text' name='first_name' id='first_name' required>
    </fieldset>
    <fieldset>
        <legend>Nom</legend>
        <input type='text' name='last_name' id='last_name' required>
    </fieldset>
    <fieldset>
        <legend>Secteur</legend>
        <div>
            <input type="radio" id="sector" name="sector" value="Administrateur" checked />
            <label for="sector">Administrateur</label>
        </div>
        <div>
            <input type="radio" id="sector" name="sector" value="Gaz" />
            <label for="sector">Gaz</label>
        </div>
        <div>
            <input type="radio" id="sector" name="sector" value="Distribution"/>
            <label for="sector">Distribution</label>
        </div>
        <div>
            <input type="radio" id="sector" name="sector" value="Chimie"/>
            <label for="sector">Chimie</label>
        </div>
    </fieldset>
    <fieldset>
        <legend>Camion</legend>
        {% for truck in trucks %}
        <div>
            <input type="radio" id="truck" name="truck" value="{{ truck.id }}"/>
            <label for="truck">{{ truck.license }}</label>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Permis de conduire</legend>
        <input type='date' name='drive_license' id='drive_license'>
    </fieldset>
    <fieldset>
        <legend>Permis ADR</legend>
        <input type='date' name='adr_license' id='adr_license'>
    </fieldset>
    <fieldset>
        <legend>Carte chauffeur</legend>
        <input type='date' name='card_drive' id='card_drive'>
    </fieldset>
    <fieldset>
        <legend>Email</legend>
        <input type='email' name='email' id='email'>
    </fieldset>
    <fieldset>
        <legend>Téléphone</legend>
        <input type='text' name='phone' id='phone'>
    </fieldset>
    <fieldset>
        <legend>Lieux de résidence</legend>
        <input type='text' name='city' id='city' required>
    </fieldset>
    <fieldset>
        <legend>Administrateur</legend>
        <div>
            <input type="radio" id="is_staff" name="is_staff" value="0" checked/>
            <label for="is_staff">Non</label>
        </div>
        <div>
            <input type="radio" id="is_staff" name="is_staff" value="1"/>
            <label for="is_staff">Oui</label>
        </div>
    </fieldset>
    <p class="submitted"><input type="submit" value="Inscription"></p>
</form>
{% endblock content %}