:root { --primary: #ff9a00; --secondary: #373737; --background: #f9f9f9; --text: #121212; --accent: #6a6a6a; }
@font-face { font-family: 'spataro'; src: url(../fonts/Algerian.ttf); }
@font-face { font-family: 'hack'; src: url(../fonts/Hack.ttf); }
@font-face { font-family: 'lcd'; src: url(../fonts/Lcd.ttf); }
@font-face { font-family: 'note'; src: url(../fonts/Note.ttf); }
@font-face { font-family: 'text'; src: url(../fonts/Ubuntu.ttf); }

div.navbar{ background-color: var(--primary); display: flex; flex-direction: row; justify-content: space-around; align-items: center; }
div.logo p img{ width: 100px; vertical-align: middle; padding: 10px 0; }
div.logo p span{ font-family: 'spataro'; font-size: 18pt; margin-left: 10px; }
div.links-list{ background-color: var(--accent); position: fixed; left: 0; bottom: 0; height: 75px; width: 100%; display: flex; flex-direction: row; justify-content: space-around; align-items: center; }
div.links-list a span{ padding: 10px 20px; background-color: var(--primary); border-radius: 10px; }
div.links-list a span:hover{ background-color: var(--secondary); color: var(--primary); }