/* ---   Configuration   --- */
:root { --primary: #ff9a00; --secondary: #373737; --text: #121212; --accent: #6a6a6a; }
@font-face { font-family: 'spataro'; src: url(../fonts/Algerian.ttf); }
@font-face { font-family: 'hack'; src: url(../fonts/Hack.ttf); }
@font-face { font-family: 'lcd'; src: url(../fonts/Lcd.ttf); }
@font-face { font-family: 'note'; src: url(../fonts/Note.ttf); }
@font-face { font-family: 'text'; src: url(../fonts/Ubuntu.ttf); }

/* ---   Main settings   --- */
*{ margin: 0; padding: 0; box-sizing: content-box; font-size: 14pt; font-family: 'text'; font-weight: normal; color: var(--text); }
a{ text-decoration: none; font-family: 'hack'; }
h1{ text-align: center; font-size: 20pt; color: var(--primary); background-color: var(--secondary); padding: 10px 30px; margin: 10px auto; border-radius: 10px; width: fit-content; }
h2{ text-align: center; font-size: 18pt; margin: 10px; border-radius: 10px; }
h3{ text-align: center; font-size: 16pt; margin: 10px; }
div.container{ padding: 0 10px 10px 10px; margin-bottom: 75px; }
.nav-content{ display: flex; align-items: center; justify-content: center; }
/*.phone, .tablet, .tablet-phone{ display: none; }*/
.error{ background-color: red; padding: 5px; font-weight: bold; }
.login{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.icon{ width: 45px; background-color: #171278; padding: 5px; border-radius: 10px; vertical-align: middle; }
.modify .icon{ background-color: #00ff00; cursor: text; }
.delete .icon{ background-color: rgb(255, 125, 125); cursor: not-allowed; }
.restore .icon{ background-color: lightskyblue; }

/* ---   Forms   --- */
fieldset{ padding: 10px; width: 400px; margin: 10px auto; }
fieldset legend{ text-align: center; margin: 5px; padding: 5px 10px; background-color: var(--secondary); color: var(--primary); border-radius: 10px; }
fieldset input{ padding: 5px; font-family: 'hack'; border: 1px solid; width: 300px; }
fieldset div{ display: flex; flex-direction: row; justify-content: flex-start; }
fieldset div input{ width: fit-content; }
fieldset div label{ margin-left: 10px; }
fieldset textarea{ padding: 5px; font-family: 'hack'; }
p.helptext{ padding: 5px; font-family: 'note'; color: #127317; font-weight: bold; }
p.submitted{ text-align: center; }
p.submitted input{ padding: 10px 20px; background-color: var(--primary); border-radius: 10px; border: none; }

/* ---   Table   --- */
div.main-tab{ display: flex; flex-direction: row; gap: 20px; background-color: var(--secondary); }
div.main-tab .btn-main{ border: none; background-color: var(--secondary); padding: 20px 20px; }
div.main-tab .btn-main span{ color: var(--primary); }
div.main-tab .active{ background-color: var(--primary); }
div.main-tab .active span{ color: var(--secondary); }

/* ---   Content   --- */
div.main-content{display: none; flex-direction: column;}
div.driver, div.truck, div.factory, div.station{ display: grid; grid-template-columns: repeat(4, 1fr); }
div.pagination{ width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 10px; }
div.pagination a, div.pagination span{ padding: 10px;}
div.pagination a{ background-color: var(--primary); border-radius: 10px; }
div.deleted{ display: flex; flex-direction: column; }

/* ---   Card driver   ---*/
div.card{ display: grid; grid-template-rows: repeat(3, fit-content); justify-content: center; align-items: center; margin: 10px; border: 2px solid var(--secondary); }
div.card div.card-info p{ padding: 5px; }
div.card div.card-info p a{ background-color: var(--secondary); padding: 5px 10px; border-radius: 10px; }
div.card div.card-info p a:hover{ background-color: var(--primary); color: var(--secondary); }
div.card div.card-links{ display: flex; flex-direction: row; justify-content: space-around; margin: 15px 0; }

/* ---   Detail factory   --- */
div.detail-factory{ padding: 20px 50px; }
div.detail-factory p{ padding: 10px 0; }
div.detail-factory p.img{ text-align: center; }
div.detail-factory p img{ width: 600px; }
div.detail-factory p.description{ padding: 10px 50px; }
div.detail-factory p.description span.marked{ color: red; letter-spacing: 2px; font-family: 'hack'; }
div.detail-factory ul{ margin-left: 75px; }
div.detail-factory ul li{ list-style: none; }
div.detail-factory ul li span{ font-size: 22pt; padding-right: 10px; vertical-align: middle; }

/* ---   ADR   --- */
div.identi-adr{ display: flex; flex-direction: column; justify-content: center; align-items: center; border-bottom: 2px solid var(--text); }
div.identi-adr div.panel{ display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 20px; padding: 20px; }
div.identi-adr div.panel div.panel-adr{ display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 0 10px 10px 10px; border: 3px solid black; border-radius: 10px; background-color: var(--primary); }
div.identi-adr div.panel div.panel-adr p{ padding: 10px 25px; font-family: 'lcd'; font-size: 23pt; text-align: center; }
div.identi-adr div.panel div.panel-labels img{ width: 125px; }
div.identi-adr div.product{ display: flex; flex-direction: row; padding: 10px; }
div.identi-adr div.product p{ font-size: 17pt; }
div.identi-adr div.info{ display: flex; flex-direction: column; padding: 10px; }
div.identi-adr div.links{ display: flex; flex-direction: row; gap: 20px; padding: 10px; }

/* ---   Daytime   --- */
div.start-day, div.factory-day, div.change-day{ display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 10px; border-bottom: 2px solid var(--text); }
div.start-day p, div.factory-day p, div.change-day p{ padding: 10px; }
div.start-day div.info, div.factory-day div.info, div.change-day div.info{ display: grid; grid-template-columns: repeat(3, 1fr); align-items: center; }
div.start-day div.info p, div.factory-day div.info p, div.change-day div.info p{ text-align: center; padding: 5px 15px; border: 2px solid var(--primary); margin: 5px; }
div.start-day div.links, div.factory-day div.links, div.change-day div.links{ display: flex; flex-direction: row; }
div.start-day div.links p, div.factory-day div.links p, div.change-day div.links p{ padding: 5px 20px; }
div.start-day div.report{ display: grid; grid-template-columns: repeat(3, 1fr); }
div.start-day div.report p{ text-align: center; padding: 5px 15px; border: 2px solid #171278; margin: 5px; }
