/* ---   Configuration   --- */
:root { --primary: #ff9a00; --secondary: #373737; --background: #f9f9f9; --text: #121212; --accent: #6a6a6a; }
@font-face { font-family: 'spataro'; src: url(../fonts/Algerian.ttf); }
@font-face { font-family: 'hack'; src: url(../fonts/Hack.ttf); }
@font-face { font-family: 'lcd'; src: url(../fonts/Lcd.ttf); }
@font-face { font-family: 'note'; src: url(../fonts/Note.ttf); }
@font-face { font-family: 'text'; src: url(../fonts/Ubuntu.ttf); }

/* ---   Main settings   --- */
*{ margin: 0; padding: 0; box-sizing: content-box; font-size: 14pt; font-family: 'text'; font-weight: normal; color: var(--text); }
a{ text-decoration: none; font-family: 'hack'; color: var(--primary); }
h1{ text-align: center; font-size: 20pt; color: var(--primary); background-color: var(--secondary); padding: 5px; margin: 10px; border-radius: 10px; }
h2{ text-align: center; font-size: 18pt; margin: 10px; border-radius: 10px; }
div.container{ padding: 20px; }
.phone, .tablet, .tablet-phone{ display: none; }
.error{ background-color: red; padding: 5px; font-weight: bold; }
.login{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.icon{ width: 45px; background-color: var(--primary); padding: 5px; border-radius: 10px; vertical-align: middle; }

/* ---   Forms   --- */
fieldset{ padding: 10px; width: 400px; margin: 10px auto; }
fieldset legend{ text-align: center; margin: 5px; padding: 5px 10px; background-color: var(--primary); border-radius: 10px; }
fieldset input{ padding: 5px; font-family: 'hack'; border: 1px solid; width: 300px; }
p.submitted{ text-align: center; }
p.submitted input{ padding: 10px 20px; background-color: var(--primary); border-radius: 10px; border: none; }
