{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="nav-content">
    <a href="{% url 'daytime' %}"><img src="{% static 'images/icons/return.png' %}" class="icon"></a>
    <h1>{{ title }}</h1>
</div>
{% if error %}
<h2 class="error">{{ error }}</h2>
{% endif %}
<!--   Start daytime   -->
{% if gender == 'start' %}
<form action="{% url 'completed-work' 'start' start.id %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Lieux de fin</legend>
        <input type='text' name='city_end' id='city_end' required>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <fieldset>
        <legend>Date de fin</legend>
        <input type='date' name='date_end' id='date_end' value="{{ day|date:'Y-m-d' }}" required>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <fieldset>
        <legend>Heure de fin</legend>
        <input type='time' name='hour_end' id='hour_end' value="{{ day|time:'H:i' }}" required>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <fieldset>
        <legend>Kilomètre de fin</legend>
        <input type='text' name='km_end' id='km_end' required>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <p class="submitted"><input type="submit" value="Terminer"></p>
</form>{% endif %}
<!--   Change daytime   -->
{% if gender == 'change' %}
<form action="{% url 'completed-work' 'change' change.id %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Immatriculation</legend>
        <input type='text' name='trailer' id='trailer' required>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <fieldset>
        <legend>État</legend>
        <div>
            <input type="radio" id="condition" name="condition" value="Bon état" required/>
            <label for="condition">Bon état</label>
        </div>
        <div>
            <input type="radio" id="condition" name="condition" value="Correct" required/>
            <label for="condition">Correct</label>
        </div>
        <div>
            <input type="radio" id="condition" name="condition" value="Mad Max" required/>
            <label for="condition">Mad Max</label>
        </div>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <fieldset>
        <legend>Éclairages</legend>
        <div>
            <input type="radio" id="lights" name="lights" value="Bon état" required/>
            <label for="lights">Bon état</label>
        </div>
        <div>
            <input type="radio" id="lights" name="lights" value="À changer" required/>
            <label for="lights">À changer</label>
        </div>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <fieldset>
        <legend>Pneus</legend>
        <div>
            <input type="radio" id="tires" name="tires" value="Bon état" required/>
            <label for="tires">Bon état</label>
        </div>
        <div>
            <input type="radio" id="tires" name="tires" value="Correct" required/>
            <label for="tires">Correct</label>
        </div>
        <div>
            <input type="radio" id="tires" name="tires" value="À changer" required/>
            <label for="tires">À changer</label>
        </div>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <fieldset>
        <legend>Chargée</legend>
        <input type='numbers' name='weight' id='weight' value='0' required>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <fieldset>
        <legend>CMR</legend>
        <textarea name='cmr' id='cmr' rows='10' cols='30'></textarea>
    </fieldset>
    <fieldset>
        <legend>Référence</legend>
        <textarea name='command' id='command' rows='10' cols='30'></textarea>
    </fieldset>
    <fieldset>
        <legend>Produits</legend>
        {% for product in products %}
        <div>
            <input type="checkbox" id="product" name="product" value="{{ product.id }}" {% if product.id in list_product %}checked{% endif %} />
            <label for="product">{{ product.name }}-{{ product.nsa }}</label>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Heure de départ</legend>
        <input type='time' name='hour_start' id='hour_start' value="{{ day|time:'H:i' }}">
    </fieldset>
    <fieldset>
        <legend>Infos supplémentaires</legend>
        <textarea name='comment' id='comment' rows='10' cols='30'></textarea>
    </fieldset>
    <p class="submitted"><input type="submit" value="Terminer"></p>
</form>{% endif %}
<!--   gasoil daytime   -->
{% if gender == 'gasoil' %}
<form action="{% url 'completed-work' 'gasoil' gasoil.id %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Diesel</legend>
        <input type='number' name='diesel' id='diesel' required>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <fieldset>
        <legend>AdBlue</legend>
        <input type='number' name='adblue' id='adblue' required>
        <p class='required'>OBLIGATOIRE</p>
    </fieldset>
    <fieldset>
        <legend>Heure de départ</legend>
        <input type='time' name='hour_start' id='hour_start' value="{{ day|time:'H:i' }}">
    </fieldset>
    <p class="submitted"><input type="submit" value="Terminer"></p>
</form>{% endif %}
<!--   Factory daytime   -->
{% if gender == 'factory' %}
<form action="{% url 'completed-work' 'factory' factory.id %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Début du travail</legend>
        <input type='time' name='work_start' id='work_start' value="{% if factory.work_start %}{{ factory.work_start|time:'H:i' }}{% endif %}">
    </fieldset>
    <fieldset>
        <legend>fin du travail</legend>
        <input type='time' name='end_work' id='end_work' >
    </fieldset>
    <fieldset>
        <legend>Numéro de cmr</legend>
        {% if last_list_cmr %}
        {% for cmr in last_list_cmr %}
        <div>
            <input type="checkbox" id="cmr" name="cmr" value="{{ cmr }}." {% if cmr in factory.cmr %}checked{% endif %} />
            <label for="cmr">{{ cmr }}.</label>
        </div>
        {% endfor %}
        {% else %}
        {% if factory.cmr %}
        <textarea name='cmr' id='cmr' rows='10' cols='30'>{{ factory.cmr}}</textarea>
        {% elif last_cmr %}
        <textarea name='cmr' id='cmr' rows='10' cols='30'>{{ last_cmr}}</textarea>
        {% else %}
        <textarea name='cmr' id='cmr' rows='10' cols='30'></textarea>
        {% endif %}
        <p class='helptext'>Si plusieurs cmrs : séparer les par un virgule et terminer par un point.</p>
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>Numéro de référence</legend>
        {% if last_list_command %}
        {% for command in last_list_command %}
        <div>
            <input type="checkbox" id="command" name="command" value="{{ command }}." {% if command in factory.command %}checked{% endif %} />
            <label for="command">{{ command }}.</label>
        </div>
        {% endfor %}
        {% else %}
        {% if factory.command %}
        <textarea name='command' id='command' rows='10' cols='30'>{{ factory.command}}</textarea>
        {% elif last_command %}
        <textarea name='command' id='command' rows='10' cols='30'>{{ last_command}}</textarea>
        {% else %}
        <textarea name='command' id='command' rows='10' cols='30'></textarea>
        {% endif %}
        <p class='helptext'>Si plusieurs références : séparer les par un virgule et terminer par un point.</p>
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>Produits</legend>
        {% for product in products %}
        <div>
            <input type="checkbox" id="product" name="product" value="{{ product.id }}" {% if product.id in list_product %}checked{% endif %} />
            <label for="product">{{ product.name }}-{{ product.nsa }}</label>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Poids chargé</legend>
        <input type='number' id='weight' name='weight' >
    </fieldset>
    <fieldset>
        <legend>Heure de départ</legend>
        <input type='time' name='hour_start' id='hour_start' value="{{ day|time:'H:i' }}">
    </fieldset>
    <fieldset>
        <legend>Commentaire</legend>
        <textarea name='comment' id='comment' rows='10' cols='30'></textarea>
    </fieldset>
    <p class="submitted"><input type="submit" value="Terminer"></p>
</form>{% endif %}
{% endblock content %}