{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="nav-content">
    <h1>{{ title }}</h1>
    <div class="btn-add">
        {% if start.compled or not start%}
        <a href="{% url "create-work" 'start' %}"><img src="{% static 'images/icons/add_day.png' %}" class="icon tablet-phone">
            <span class="laptop">Commencer la journée</span></a>{% else %}
        <a href="{% url "create-work" 'factory' %}"><img src="{% static 'images/icons/add_halt.png' %}" class="icon tablet-phone">
            <span class="laptop">Ajouter un arrêt</span></a>
        <a href="{% url "create-work" 'change' %}"><img src="{% static 'images/icons/trailer.png' %}" class="icon tablet-phone">
            <span class="laptop">Changer de remorque</span></a>
        <a href="{% url "create-work" 'gasoil' %}"><img src="{% static 'images/icons/add_fuel.png' %}" class="icon tablet-phone">
            <span class="laptop">Ajouter du carburant</span></a>{% endif %}
    </div>
</div>
{% if start %}
<div class='start-day'>
    <h2>{{ start.name_driver }} - {{ start.sector }}</h2>
    <div class="info">
        <p>Tracteur : {{ start.truck }}</p>
        <p>Remorque : {{ start.trailer }}</p>
        <p>Lieux de départ : {{ start.city_start }}</p>
        <p>Date de départ : {{ start.date_start }}</p>
        <p>Heure de départ : {{ start.hour_start|time:'H\hi' }}</p>
        <p>Kilomètre de départ : {{ start.km_start }} KM</p>
    </div>
    {% if not start.compled %}
    <div class="links">
        <p class="modify"><a href="{% url "modify-work" 'start' start.id %}">
            <img src="{% static 'images/icons/modify.png' %}" class="icon"></a></p>
        <p><a href="{% url "completed-work" 'start' start.id %}">
            <img src="{% static 'images/icons/completed.png' %}" class="icon"></a></p>
    </div>
    {% else %}
    <p>Date de fin : {{ start.date_end }}</P>
    <div class='info'>
        <p>Lieux de fin : {{ start.city_end }}</p>
        <p>Heure de fin : {{ start.hour_end|time:'H\hi' }}</p>
        <p>Kilomètre de fin : {{ start.km_end }} KM</p>
    </div>
    <div class='report'>
        <p>Total kilomètres : {{ start.total_km }} KM</p>
        <p>Total heures : {{ start.total_hours }}</p>
        {% if dislodge %}<p>Délogement</p>{% else %}<p>À la maison</p>{% endif %}
    </div>
    {% endif %}
</div>
{% for halt in halts %}
{% if halt.formel == 'factory' %}
<div class='factory-day'>
    <h1>{{ halt.name }}</h1>
    <div class='info'>
        {% if halt.hour_arrival %}<p>Heure d'arrivé : {{ halt.hour_arrival|time:'H\hi' }}</p>{% endif %}
        {% if halt.start_work %}<p>Début du travail : {{ halt.start_work|time:'H\hi' }}</p>{% endif %}
        {% if halt.cmr %}<p>CMR : {{ halt.cmr }}</p>{% endif %}
        {% if halt.hour_start %}<p>Heure de départ : {{ halt.hour_start|time:'H\hi' }}</p>{% endif %}
        {% if halt.end_work %}<p>Fin de travail : {{ halt.end_work|time:'H\hi' }}</p>{% endif %}
        {% if halt.command %}<p>N° de commande : {{ halt.command }}</p>{% endif %}
        {% if halt.product %}
        <p>Produit : 
        {% for product in halt.product %}
        <br/>{{ product.name }}.
        {% endfor %}
        </p>
        {% endif %}
        {% if halt.wheight %}<p>Poids chargé : {{ halt.wheight }} Kg</p>{% endif %}
        {% if halt.km_arrival %}<p>Kilomètre d'arrivée : {{ halt.km_arrival }} Km</p>{% endif %}
    </div>
    {% if halt.km_filled %}<h3>Kilomètre à charge : {{ halt.km_filled }} Km</h3>{% endif %}
    {% if halt.km_empty %}<h3>Kilomètre à vide : {{ halt.km_empty }} Km</h3>{% endif %}
    {% if halt.compled %}<h3>Temps d'attente : {{ halt.total_wait }}</h3>{% endif %}
    {% if halt.comment %}<h3>Commentaire : {{ halt.comment }}</h3>{% endif %}
    {% if not halt.compled %}
    <div class="links">
        <p class="modify"><a href="{% url "modify-work" 'factory' halt.id %}">
            <img src="{% static 'images/icons/modify.png' %}" class="icon"></a></p>
        <p><a href="{% url "completed-work" 'factory' halt.id %}">
            <img src="{% static 'images/icons/completed.png' %}" class="icon"></a></p>
    </div>{% endif %}
</div>
{% endif %}
{% if halt.formel == 'change' %}
<div class='change-day'>
    <h1>{{ halt.name }}</h1>
    <div class='info'>
        {% if halt.hour_arrival %}<p>Heure d'arrivé : {{ halt.hour_arrival|time:'H\hi' }}</p>{% endif %}
        {% if halt.trailer %}<p>Immatriculation : {{ halt.trailer }}</p>{% endif %}
        {% if halt.lights %}<p>Éclairages : {{ halt.lights }}</p>{% endif %}
        {% if halt.hour_start %}<p>Heure de départ : {{ halt.hour_start|time:'H\hi' }}</p>{% endif %}
        {% if halt.condition %}<p>État de la remorque : {{ halt.condition }}</p>{% endif %}
        {% if halt.tires %}<p>État des pneus : {{ halt.tires}}</p>{% endif %}

    </div>
    {% if halt.km_arrival %}<h3>Kilomètre d'arrivée : {{ halt.km_arrival }} Km</h3>{% endif %}
    {% if halt.wheight %}<h3>Remorque chargée</h3>{% else %}<h3>Remorque vide</h3>{% endif %}
    {% if halt.comment %}<h3>Commentaire : <br/>{{ halt.comment }}</h3>{% endif %}
    {% if not halt.compled %}
    <div class="links">
        <p><a href="{% url "completed-work" 'change' halt.id %}">
            <img src="{% static 'images/icons/completed.png' %}" class="icon"></a></p>
    </div>{% endif %}
</div>
{% endif %}
{% endfor %}
{% endif %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}