{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="nav-content">
    <a href="{% url 'daytime' %}"><img src="{% static 'images/icons/return.png' %}" class="icon"></a>
    {% if start %}
    <h1>{{ title }}{{ object.date_start }}</h1>
    {% else %}
    <h1>{{ title }}</h1>
    {% endif %}
</div>
{% if error %}
<h2 class="error">{{ error }}</h2>
{% endif %}
<!--   Start daytime   -->
{% if gender == 'start' %}
<form action="{% url 'modify-work' 'start' object.id %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Camion</legend>
        {% for truck in trucks %}
        <div>
            <input type="checkbox" id="truck" name="truck" value="{{ truck.license }}" {% if truck.license in object.truck %}checked{% endif %} />
            <label for="truck">{{ truck.license }}</label>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Secteur</legend>
        <div>
            <input type="checkbox" id="sector" name="sector" value="Gaz" {% if request.user.sector == 'Gaz' %}checked{% endif %} />
            <label for="sector">Gaz</label>
        </div>
        <div>
            <input type="checkbox" id="sector" name="sector" value="Distribution" {% if request.user.sector == 'Distribution' %}checked{% endif %}/>
            <label for="sector">Distribution</label>
        </div>
        <div>
            <input type="checkbox" id="sector" name="sector" value="Chimie" {% if request.user.sector == 'Chimie' %}checked{% endif %}/>
            <label for="sector">Chimie</label>
        </div>
    </fieldset>
    <fieldset>
        <legend>Lieux de départ</legend>
        <input type='text' name='city_start' id='city_start' value='{{ object.city_start }}' required>
    </fieldset>
    <fieldset>
        <legend>Heure de départ</legend>
        <input type='time' name='hour_start' id='hour_start' value="{{ object.hour_start|time:'H:i' }}">
    </fieldset>
    <fieldset>
        <legend>Kilomètre de départ</legend>
        <input type='text' name='km_start' id='km_start' value='{{ object.km_start }}' required>
    </fieldset>
    <p class="submitted"><input type="submit" value="Modification"></p>
</form>{% endif %}
<!--   Factory daytime   -->
{% if gender == 'factory' %}
<form action="{% url 'modify-work' 'factory' object.id %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Début du travail</legend>
        <input type='time' name='start_work' id='start_work' value="{% if object.start_work %}{{ object.start_work|time:'H:i' }}{% endif %}">
    </fieldset>
    <fieldset>
        <legend>Numéro de cmr</legend>
        <textarea name='cmr' id='cmr' rows='10' cols='30'></textarea>
        <p class='helptext'>Si plusieurs cmrs : séparer les par un virgule et terminer par un point.</p>
    </fieldset>
    <fieldset>
        <legend>Numéro de référence</legend>
        <textarea name='command' id='command' rows='10' cols='30'></textarea>
        <p class='helptext'>Si plusieurs références : séparer les par un virgule et terminer par un point.</p>
    </fieldset>
    <fieldset>
        <legend>Produits</legend>
        {% for product in products %}
        <div>
            <input type="checkbox" id="product" name="product" value="{{ product.id }}" {% if product.id in list_product %}checked{% endif %} />
            <label for="product">{{ product.name }}-{{ product.nsa }}</label>
        </div>
        {% endfor %}
    </fieldset>
    <p class="submitted"><input type="submit" value="Modification"></p>
</form>{% endif %}
{% endblock content %}