{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="nav-content">
    <a href="{% url 'daytime' %}"><img src="{% static 'images/icons/return.png' %}" class="icon"></a>
    <h1>{{ title }}</h1>
</div>
{% if error %}
<h2 class="error">{{ error }}</h2>
{% endif %}
<form action="{% url 'modify-work' object.id %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Début du travail</legend>
        <input type='time' name='work_start' id='work_start' value="{% if object.work_start %}{{ object.work_start|time:'H:i' }}{% endif %}">
    </fieldset>
    <fieldset>
        <legend>Numéro de cmr</legend>
        {% if last_list_cmr %}
        {% for cmr in last_list_cmr %}
        <div>
            <input type="checkbox" id="cmr" name="cmr" value="{{ cmr }}." />
            <label for="cmr">{{ cmr }}.</label>
        </div>
        {% endfor %}
        {% else %}
        {% if object.cmr %}
        <textarea name='cmr' id='cmr' rows='10' cols='30'>{{ object.cmr }}</textarea>
        {% elif last_cmr %}
        <textarea name='cmr' id='cmr' rows='10' cols='30'>{{ last_cmr }}</textarea>
        {% else %}
        <textarea name='cmr' id='cmr' rows='10' cols='30'>{{ cmr }}</textarea>
        {% endif %}
        <p class='helptext'>Si plusieurs cmrs : séparer les par un virgule et terminer par un point.</p>
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>Numéro de référence</legend>
        {% if last_list_command %}
        {% for command in last_list_command %}
        <div>
            <input type="checkbox" id="command" name="command" value="{{ command }}." />
            <label for="command">{{ command }}.</label>
        </div>
        {% endfor %}
        {% else %}
        {% if object.command %}
        <textarea name='command' id='command' rows='10' cols='30'>{{ object.command }}</textarea>
        {% elif last_command %}
        <textarea name='command' id='command' rows='10' cols='30'>{{ last_command }}</textarea>
        {% else %}
        <textarea name='command' id='command' rows='10' cols='30'>{{ command }}</textarea>
        {% endif %}
        <p class='helptext'>Si plusieurs références : séparer les par un virgule et terminer par un point.</p>
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>Produits</legend>
        {% for product in products %}
        <div>
            <input type="checkbox" id="product" name="product" value="{{ product.id }}" {% if product.id in list_product %}checked{% endif %} />
            <label for="product">{{ product.get_name }}</label>
        </div>
        {% endfor %}
    </fieldset>
    <p class="submitted"><input type="submit" value="Modification"></p>
</form>
{% endblock content %}